.etabs { margin: 0; padding: 0;  }
.tab { 
	display: inline-block; zoom:1; *display:inline; 
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
	border-bottom:0;
  position: relative; top: 1px;
}
.tab > a { 
	font-size: 12px; line-height: 2em; 
	display: block; 
	padding:5px; 
	outline: none; 
	color:#F60;
 -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; 

 }
.tab > a:hover {   
	text-decoration: none;  
	background-color: #DDD; 
}
.tab > a.active { 
  background-color: #FFF;
  border-bottom-color: transparent;
  cursor: default;
  padding-top:4px;
	color:#666666;
}
.tab.active { background:none; border-color: #DDD;  }

.tab-container { border:0; padding:0px; margin:0; list-style: none; font-size:12px; font-family:Arial, Helvetica, sans-serif; }

.tab-container .panel-container { 
	border:1px solid #DDD;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
	padding:10px;
	background:#fff;
}

.simple-tab .tab > a { padding-left:15px; padding-right:15px; }

